juego/juego.html
juego/codigojuegojs/codigojuego.js
piedrapapelotijera/ppt#1.html
piedrapapelotijera/ppt#2.html
piedrapapelotijera/codigopptjs/audiopaginita.mp3
TERMINADO/A/index.html
TERMINADO/A/popup.js
TERMINADO/A/style.css
TERMINADO/CSS-Desafio/alejo.jpg
TERMINADO/CSS-Desafio/Ema.jpeg
TERMINADO/CSS-Desafio/index.html
TERMINADO/CSS-Desafio/Ivan.jpeg
TERMINADO/CSS-Desafio/Jef.jpeg
TERMINADO/CSS-Desafio/Leo.jpeg
TERMINADO/CSS-Desafio/logo.png
TERMINADO/CSS-Desafio/style.css
TERMINADO/CSS-Display-Flex/index.html
TERMINADO/CSS-Display-Flex/style.css
TERMINADO/CSS-Position/Dorime.mp3
TERMINADO/CSS-Position/Dorime.png
TERMINADO/CSS-Position/index.html
TERMINADO/CSS-Position/style.css
TERMINADO/CSS-Variables/index.html
TERMINADO/CSS-Variables/style.css
TERMINADO/Desafio 2/html/adoptar-gato.html
TERMINADO/Desafio 2/html/adoptar-perro.html
TERMINADO/Desafio 2/html/gato.html
TERMINADO/Desafio 2/html/index.html
TERMINADO/Desafio 2/html/perro.html
TERMINADO/Desafio 2/imagenes/ayuda.jpg
TERMINADO/Desafio 2/imagenes/ayudando.jpg
TERMINADO/Desafio 2/imagenes/g1.jpg
TERMINADO/Desafio 2/imagenes/g2.jpg
TERMINADO/Desafio 2/imagenes/g3.jpg
TERMINADO/Desafio 2/imagenes/gato.jpg
TERMINADO/Desafio 2/imagenes/gatos-callejeros.jpg
TERMINADO/Desafio 2/imagenes/logo.png
TERMINADO/Desafio 2/imagenes/p1.jpg
TERMINADO/Desafio 2/imagenes/p2.jpg
TERMINADO/Desafio 2/imagenes/p3.jpg
TERMINADO/Desafio 2/imagenes/perro-callejero.jpg
TERMINADO/Desafio 2/imagenes/perro.jpg
TERMINADO/Desafio 2/js/codigo.js
TERMINADO/Desafio 2/styles/mobile.css
TERMINADO/Desafio 2/styles/style.css
TERMINADO/HTMLyCSS-1/index.html
TERMINADO/HTMLyCSS-1/style.css
TERMINADO/HTMLyCSS-1/imagenes/arroz-con-pollo.jpg
TERMINADO/HTMLyCSS-1/videos/arroz con pollo.mp4
TERMINADO/HTMLyCSS-2/button-submit.html
TERMINADO/HTMLyCSS-2/formularios.html
TERMINADO/HTMLyCSS-2/formularios2.html
TERMINADO/HTMLyCSS-2/select.html
TERMINADO/Imágenes-Responsive/index.html
TERMINADO/Imágenes-Responsive/style.css
TERMINADO/Imágenes-Responsive/img/Large.jpg
TERMINADO/Imágenes-Responsive/img/Medium.jpg
TERMINADO/Imágenes-Responsive/img/Small.jpg
TERMINADO/paginahtml/pagina.html
TERMINADO/paginahtml/audiopaginahtml/audiopaginita.mp3
TERMINADO/paginahtml/codigopaginitajs/codigopaginita.js
TERMINADO/ResponsiveDesing/desktop.css
TERMINADO/ResponsiveDesing/index.html
TERMINADO/ResponsiveDesing/style.css
TERMINADO/ResponsiveDesing/tablet.css
piedrapapelotijera/codigopptjs/codigoppt.js
